<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta name="Autor" content="Lothar Soto Palma">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="pure-g">
      <div class="pure-u-1 pure-u-md-3-5">
        <div class="pure-menu pure-menu-horizontal resize">
          <img class="pure-menu-heading logo" src="{{ url_for('static', filename='rick1.jpg') }}">
          <h2 class="pure-menu-heading custom-heading">DAI</h2>
          <ul class="pure-menu-list">
            <li class="pure-menu-item heading-li"><a href="/" class="pure-menu-link heading-a">Inicio</a></li>
            <li class="pure-menu-item heading-li"><a href="/restaurants" class="pure-menu-link heading-a">Restaurantes</a></li>
            <li class="pure-menu-item heading-li"><a href="/about" class="pure-menu-link heading-a">Acerca</a></li>
            {% if username %}
              <li class="pure-menu-item heading-li"><a href="/user_info" class="pure-menu-link heading-a">Datos de usuario</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-5">
        {% if not username %}
          <form class="pure-form pure-form-stacked heading-form" method="post" action="/login">
            <ul>
              <li><label for="username">Username</label>
                <input name="username" placeholder="Username"></li>
              <li><label for="password">Password</label>
                <input type="password" name="password" placeholder="Password"></li>
              <li><button type="submit" class="pure-button pure-button-primary">Sign in</button></li>
            </ul>
          </form>
        {% else %}
          <form class="pure-form custom-heading" action="/logout">
            <label>Bienvenido {{username}}</label>
            <button type="submit" class="pure-button pure-button-primary">Logout</button>
          </form>
        {% endif %}
    </div>
    </header>
    <div class="pure-g">
    <aside class="pure-u-1 pure-u-md-1-8 custom-aside">
      <div class="pure-menu custom-restricted-width custom-column">
        <h3 class="pure-menu-heading">Prácticas</h3>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#pr1" class="pure-menu-link">Práctica 2</a></li>
            <li class="pure-menu-item"><a href="#pr2" class="pure-menu-link">Práctica 3</a></li>
            <li class="pure-menu-item"><a href="#pr3" class="pure-menu-link">Práctica 4</a></li>
            <li class="pure-menu-item"><a href="#pr4" class="pure-menu-link">Práctica 5</a></li>
        </ul>
        <h3 class="pure-menu-heading">Historial</h3>
        <ul class="pure-menu-list">
          {% for link in historial %}
            <li class="pure-menu-item"><a href="{{link}}" class="pure-menu-link">{{ link[0:15] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </aside>
    <section class="pure-u-1 pure-u-md-7-8">
      <div class="content">
      {% block body %}
      {% endblock %}
      </div>
    </section>
  </div>
    <hr>
    <footer><p>© Lothar Soto Palma</p></footer>
  </body>
</html>
