body {
  background-color: #F6F6F6;
}

header {
  background-color: #2B2B2B;
  border-bottom: 4px solid #de870d;
	display: flex;
}

header div {
	margin-top: 20px;
}

header form {
  margin: 0 5%;
	float: right;
}

.logo {
  border-radius: 100%;
}

.content {
  margin: 0% 10%;
  padding: 1% 2%;
}

.custom-heading {
  color: white;
}

.custom-column {
  margin: 5% 20%;
  color: black;
}

.custom-li {
  color: white;
}

.custom-li:hover {
  background-color: gray;
  border-radius: 1%;
}

.button_find_panel {
  text-align: center;
}

.custom-table {
  margin: 0 auto;
}

.custom-table th{
  background-color: #a09ea7;
  color: white;
}

p {
  margin: 1% 3%;
}

img {
	border-radius: 5%;
	display: block;
	margin: 1% auto;
}

form {
  text-align: center;
}

input {
  margin: 1% 0%;
  color: black;
}

.palette-input {
  width: 100%;
}

.img-set {
	display: flex;
}

.svg-div {
  border-radius: 5%;
  text-align: center;
}

footer{
  margin: 0% 10%;
  padding: 1% 2%;
}

@media screen and (max-width: 48em){
  .img-set{
    display: block;
  }

  .custom-column {
  	margin: 5% 18%;
  	color: black;
	}

	.custom-aside *{
		display:inline-block;
	}
}
